.nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  position: fixed;
  background-color: rgb(0, 0, 0);
}

.logo {
  cursor: pointer;
}

.button {
  background-color: red;
}
