.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  gap: 36px;
  position: relative;
}

.card {
  padding: 2px 15px 15px 15px;
  border-radius: 15px;
  position: relative;
  opacity: 0.8;
  background-color: #18181b;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.card:hover {
  box-shadow: 0px 3px 6px #7b337d;
}

.welcome {
  font-size: 3rem;
  margin: 0px 0px 50px 0px;
}

/* accordion */

.tabs {
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.tablabel {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}
.tablabel:hover {
  background: #1a252f;
}
.tablabel::after {
  content: '🡇';
  width: 1rem;
  height: 1rem;
  text-align: center;
  transition: all 0.35s;
}
.tabcontent {
  max-height: 0;
  color: #2c3e50;
  transition: all 0.35s;
}

input:checked + .tablabel {
  background: #1a252f;
}
input:checked + .tablabel::after {
  transform: rotate(180deg);
}
input:checked ~ .tabcontent {
  max-height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: #18181b;
}
