.card {
  padding: 2px 15px 15px 15px;
  border-radius: 15px;
  opacity: 0.8;
  background-color: #18181b;
  border: 2px solid rgba(255, 255, 255, 0.12);
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}
/* used to select only the first child of the card flexbox */
/* could also achieve this using relative and abs positioning */
.card > *:first-child {
  align-self: flex-end;
}

.card h3 {
  margin-top: 0px;
}

.minimize {
  font-size: 2rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 3px 6px #7b337d;
}
