.footerbox {
  display: flex;
  flex-direction: row;
  height: 125px;
  width: 100%;
  background-color: transparent;
  align-items: center;
  padding: 0px 40px;
  background-color: rgb(0, 0, 0);
}

.footer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 60px;
  align-items: center;
  margin: auto;
  color: #f1bde3;
}

.footer li {
  list-style: none;
  text-decoration: underline;
}

.logo {
  margin-left: 50px;
  cursor: pointer;
}

.icon {
  margin-right: 12px;
  font-size: 25px;
}
