.iconbar {
  background-color: #18181b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 50%;
  border-radius: 10px;
  opacity: 0.8;
}

.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.iconbar h1 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.iconLogos {
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

a:hover {
  color: #7b337d;
}

.activeIcon {
  color: #7b337d;
}
